<html>
	<head>
		<title>{{ __base__.app_name }}: {{ error_name }}</title>
		<link rel="stylesheet" href="/css/default.css?{{ __base__.revision }}">
	</head>

	<body class="au-framework-error">

		<div class="au-header">
            {{ __base__.app_name }}
			<div class="au-framework">
				{{ __base__.framework }}
			</div>
		</div>