
{% include "service/_framework_header.jinja2" %}

		<div class="au-container">

			<div class="au-inside-container">
				<h1>Error: {{ error_name }}</h1>
				<pre>{{ context }}</pre>
			</div>

		</div>

{% include "service/_framework_footer.jinja2" %}