{% include "service/_framework_header.jinja2" %}

		<div class="au-container">

			<div class="au-inside-container">
				<h1>Error: {{ code }}</h1>
				<pre>{{ error }}</pre>
			</div>

		</div>

{% include "service/_framework_footer.jinja2" %}