# -*- coding: utf-8 -*-

import basic

class exmapleController(basic.defaultController):

	pages = {
		'type': ['example'],
		'urls': {
			'about': 'printAbout',
			'messages': 'printMessages'
		}
	}

	methods = {
		'time': 'getTime',
	    'redirect': 'getRedirect',
		'string' : {
			'ya': 'getTestString1',
	        'no': 'getTestString2'
		}
	}


	# --------------------------------------------------------------------------------------------------
	# Methods

	def getTime(self, params):
		return {'current_time': time()}

	def getTestString1(self, params):
		print {'test_string': 'yaaaarrr!'}

	def getTestString2(self, params):
		print {'test_string': 'nooooorr!'}

	def getRedirect(self, params):
		self.redirect('/index')

	# --------------------------------------------------------------------------------------------------
	# Print pages

	def printTestError2(self, data):
		return self.printTemplate('______', data)

	def printRedirect(self, data):
		return self.printTemplate('______', data)

	def printDefault(self, data):
		data['fields'].update({'page_name': 'u -> default'})
		return self.printTemplate('test', data)

	def printNormal(self, data):
		data['fields'].update({'page_name': 'u -> normal'})
		return self.printTemplate('test', data)
