[global]
log.error_file: './logs/web.log'
log.screen: True
server.socket_host = "127.0.0.1"
server.socket_port = 8085
site.host = "127.0.0.1:8085"
checker.on = True
tools.log_headers.on = True
request.show_tracebacks = True
request.show_mismatched_params = True

[debug]
web_debug = True

[/]
tools.staticdir.root = "/Users/ido/github/Auchenflower"
tools.encode.encoding = 'utf8'

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "./templates/css/"

[/images]
tools.staticdir.on = True
tools.staticdir.dir = "./templates/images/"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "./templates/js/"
