/* Fonts */
/* For example load PT Serif

@font-face {
  @include fontload('PT Serif', 'PT Serif', 'fonts/ptf55f_w', 'PTSerif-Regular');
}

@font-face {
  @include fontload('PT Serif', 'PT Serif Bold', 'fonts/ptf75f_w', 'PTSerif-Bold');
  font-style: normal;
  font-weight: bold;
}

*/
h3 {
  color: black; }
