/*
    Styles for default errors and debug output
*/

body.au-framework-error {
    padding: 0;
    margin: 0;
}

.au-header {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #999;
    color: white;
    padding: 12px 0 12px 22px;
    font-size: 22px;
}

    .au-header .au-framework {
        font-size: 12px;
        color: #ddd;
    }

.au-container {
    font-family: Helvetica, Arial, sans-serif;
}

    .au-inside-container {
        padding: 16px 22px;
    }

        .au-inside-container h1 {
            font-size: 18px;
        }

.au-debug-output {
    background-color: #eee;
    box-shadow: inset 0 6px 15px -10px rgba(0,0,0,0.5);
}

    .au-debug-output h2 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: white;
        padding: 7px 16px;
        background-color: #992222;
    }

    .au-debug-output pre {
        padding: 0 15px 18px;
    }

    .au-debug-output.au-debug-model h2 {
        background-color: #666;
    }