/* Main vars */

$sprite: url("img/sprite.png");
$quote_color: rgba(96, 96, 96, 0.1);
$main_border: 15px solid black;

$text_color: #7e7e7e;
$link_color: #c85e00;
$link_inactive_color: #ead3be;

/*  -------  */

@import "preload";

b {
  background: no-repeat;
}